.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.breadCrumb {
  margin-top: 0%;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  width: 800px;
  height: 400px;
  margin-left: 5%;
  margin-right: 50%;
  margin-bottom: 20%;
  overscroll-behavior: contain;
  overflow: auto ; /* The panel becomes SCROLLABLE due to content overflow. */
  position: absolute ;
  background-color: rgba(240, 234, 231, 0.246);
  border-radius: 8px;

}

html {
  color: #191b21; 
  background: #44a08d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #44a08d, #093637); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #44a08d, #093637); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* .App-header {
  color: #191b21; 
  background: rgb(46,85,82);
  background: radial-gradient(circle, rgba(46,85,82,1) 0%, rgba(7,7,18,1) 46%, rgba(8,39,46,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
/* 
} */


